{% extends "blog/base.html" %}
{% load static %}
{% block content %}  <!-- main -->
  <main>
    <section class="section-container">
    <div class="section-heading contact-heading">
      <h2>Contact Us Today</h2>
    </div>
    <div class="section-details">
      <div class="service-info">
        <p>Do you need someone to consult regarding your health? We got you covered, get across to us on any of these.</p>
      </div>
      <div class="contact-center">
        <!-- single item -->
        <div class="contact-page-item">
          <div class="contact-page-icon">
            <i class="fas fa-envelope"></i>
          </div>
          <h3>Email Address</h3>
          <p><a href="mailto:timothy.akinwamide@eksu.edu.ng">timothy.akinwamide@eksu.edu.ng</a></p>
        </div>
        <!-- end of single item -->
        <!-- single item -->
        <div class="contact-page-item">
          <div class="contact-page-icon">
            <i class="fas fa-phone"></i>
          </div>
          <h3>Phone Number</h3>
          <p><a href="tel:+2348032134370">+2348032134370</a></p>
        </div>
        <!-- end of single item -->
        <!-- single item -->
        <div class="contact-page-item">
          <div class="contact-page-icon">
            <i class="fas fa-address-book"></i>
          </div>
          <h3>Address</h3>
          <p>Office Address will be here</p>
        </div>
        <!-- end of single item -->
      </div>
    </div>
  </section>
  
  </main>
  <!-- end main -->
{% endblock content %}